[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:AnissL93/Dotfiles.git
[submodule "desktop"]
	path = desktop
	url = git@github.com:AnissL93/desktop.git
[submodule "knowledge-forge"]
	path = knowledge-forge
	url = git@github.com:AnissL93/knowledge-forge.git
[submodule "keymap"]
	path = keymap
	url = git@github.com:AnissL93/homerow-keymap.git
[submodule "rime"]
	path = rime
	url = git@github.com:AnissL93/rime.git
[submodule "syncthing-hub"]
	path = syncthing-hub
	url = git@github.com:AnissL93/syncthing-hub.git
